<div id="calendar"></div>
<%= link_to 'New Event', new_event_path, class: "new_event" %>

<br>
<div class="alls">
  <div class="all">
    <div class="chat">
      <% @tweets.each do |tweet|%>
        <div class="message">
          <%= tweet.name %>
          <%= link_to tweet.text, edit_tweet_path(tweet.id) %>
        </div>
      <% end %>
      <%= paginate(@tweets) %>
    </div>

    <div class="form">
      <%= form_with(model: @tweet, local: true) do |form| %>
        <%= form.text_field :name, placeholder: "名前" %>
        <%= form.text_field :text, placeholder: "コメント" %>
        <%= form.submit "SEND", class:"send"%>
      <% end %>
    </div>
  </div>

    <div class="youtube">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/dOMvurh-_e0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
</div>