<%= form_with(model: event, local: true) do |form| %>
  <% if event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% event.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :タイトル %>
    <%= form.text_field :title,required: true %>
  </div>

  <div class="field">
    <%= form.label :内容 %>
    <%= form.text_field :body ,required: true%>
  </div>

  <div class="field">
    <%= form.label :開始時間 %>
    <%= form.datetime_select :start_date,required: true %>
  </div>

  <div class="field">
    <%= form.label :終了時間 %>
    <%= form.datetime_select :end_date,required: true %>
  </div>

  <div class="actions">
    <%= form.submit "イベント作成" %>
  </div>
<% end %>
