<tr class="nested-fields">
  <td><%= f.label :player_id, 'プレイヤー' %></td>
  <td><%= f.collection_select :player_id, Player.all, :id, :name %></td>
  <td><%= f.label :score %></td>
  <td><%= f.number_field :score %></td>
  <td><%= link_to_remove_association "行削除", f %></td>
</tr>
