<div class="games_1">試合結果
</div>
<div class="games"> 
 
  <% @games.each do |game| %>
    <div class="game">
      <div class="game_date">
        <%= game.date %>
      </div>

      <div class="game_place">
        <%= "in" %>
        <%= game.place %>
      </div>

      <div class="game_score">
        <%= game.user.team_name %>
        <%= game.goal %>
        <%= "点" %>
        <%= "VS" %>
        <%= game.allow %>
        <%= "点" %>
        <%= game.opponent %>
      </div>

      <div class="game_result">
        <% if game.result == "Win" %>
          <div class="win">
            <%= game.result %>
          </div>  
        <% else game.result == "Lose" %>
          <div class="lose">
            <%= game.result %>
          </div>  
        <% end %>
      </div>  

      <% if user_signed_in? && current_user.id == game.user_id %>
        <div class="game_update">
          <%= link_to '試合結果編集', edit_game_path(game.id), class: "update1" %>
          <%= link_to '試合結果削除', "/games/#{game.id}", class:
          "update2", method: :delete %>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
