 <div class="games"> 
  <%= link_to '試合結果登録', new_game_path %>
  <% @games.each do |game| %>

    <div class="game">

      <div class="game_date">
        <%= game.date %><br>
      </div>

      <div class="game_place">
        <%= game.place %><br>
      </div>

      <div class="game_score">
        <p class="myteam">GO7SA</p>
        <%= game.goal %>
        <%= game.allow %>
        <%= game.opponent %>
      </div>

      <div class="game_result">
        <%= game.result %>
      </div>  

      <div class="game_update">
        <%= link_to '試合結果編集', edit_game_path(game.id), class: "update1" %>
        <%= link_to '試合結果削除', "/games/#{game.id}", class:
         "update2", method: :delete %>
      </div>

    </div>
  <% end %>
  
</div>
