 <div class="games"> 
  <%= link_to '試合結果登録', new_game_path %>
  <% @games.each do |game| %>
    <div class="game">

      <div class="date">
        <%= game.date %>
      </div>

      <div class="game_place">    
        <%= game.place %><br>
      </div>

    <div class="game_score">
      <p>GO7SA</p>
      <p>vs</p>
      <%= game.opponent %><br>
    </div>

      
      <p>結果</p>
      <%= game.result %><br>
      <p>得点</p>
      <%= game.goal %><p>-</p><%= game.allow %>
      <p>失点</p>
      

      <%= link_to '試合結果編集', edit_game_path(game.id) %>
      <%= link_to '試合結果削除', "/games/#{game.id}", method: :delete %>
    </div>
  <% end %>
  
  
</div>
