<div class="new">
  <div class="game_create">

    <%= form_with(model: @game, local: true) do |f| %>
      <div class="form-group">
        <%= f.label :date, "試合日(年/月/日)" %>
        <%= f.date_select :date,{use_month_numbers: true, date_separator:'/'} %>
      </div>

      <div class="form-group">
        <span>VS<%= f.text_field :opponent %></span>
        <span>IN<%= f.text_field :place %></span>
      </div>

      <div class="form-group">
        <p>＜結果＞</p>
        <%= f.radio_button :result, :'Win'%>
        <%= f.label :result, "Win", {value: :'Win', class:"win"} %>
        <%= f.radio_button :result, :'Lose'%>
        <%= f.label :result, "Lose", {value: :'Lose', class:"lose"} %>
        <%= f.radio_button :result, :'Drow'%>
        <%= f.label :result, "Drow", {value: :'Drow', class:"drow"} %>
      </div>

      <div class="form-group">
        <p>＜スコア＞</p>
        <span class="mgl-20">得点 <%= f.number_field :goal %></span>
        <span class="mgl-20">ー</span>
        <span class="mgl-20"><%= f.number_field :allow %>失点</span>
      </div>

      <div class="form_score">
        <%= f.fields_for :game_players do |game_player| %>
          <%= render 'game_player_fields', f: game_player %>
        <div>
          <%= link_to_add_association '別のplayerを追加', f, :game_players %>
        </div>
        <% end %>  
      </div>

      <div class="btn">
        <%= f.submit "投稿する", class: "btn1" %>
        <%= link_to "戻る", root_path, class: "btn2"%>
      </div>
      
    <% end %>
  </div>
</div>  