<%= form_with(url: search_games_path, local: true, method: :get, class: "search-form") do |form| %>
  <%= form.text_field :keyword, placeholder: "投稿を検索する", class: "search-input" %>
  <%= form.submit "検索", class: "search-btn" %>
<% end %>

<div class="contents row">
  <% @games.each do |game| %>
    <div class="game">
      <div class="game_date">
        <%= game.date %>
      </div>

      <div class="game_place">
        <%= "in" %>
        <%= game.place %>
      </div>

      <div class="game_score">
        <%= game.user.team_name %>
        <%= game.goal %>
        <%= "点" %>
        <%= "VS" %>
        <%= game.allow %>
        <%= "点" %>
        <%= game.opponent %>
      </div>

      <div class="game_result">
        <% if game.result == "Win" %>
          <div class="win">
            <%= game.result %>
          </div>  
        <% else game.result == "Lose" %>
          <div class="lose">
            <%= game.result %>
          </div>  
        <% end %>
      </div>  
    </div>
  <% end %>
</div>