<div class="game_page">
  <div class="game_all">
    <div class="games_1">試合結果</div>

    <div class="tables">
      <table border="1">
        <thead>
          <tr>
            <th>日付</th>
            <th>場所</th>
            <th>チーム名</th>
            <th>得点</th>
            <th>失点</th>
            <th>相手チーム</th>
            <th>結果</th>
            <th>編集</th>
          </tr>
        </thead>
          
        <tbody>
          <tr>
            <td><%= @game.date %></td>
            <td><%= @game.place %></td>
            <td><%= @game.user.team_name %></td>
            <td><%= @game.goal %></td>
            <td><%= @game.allow %></td>
            <td><%= @game.opponent %></td>
            <% if @game.result == "Win" %>
            <td class="win"><%= @game.result %></td>
            <% else @game.result == "Lose" %>
            <td class="lose"><%= @game.result %></td>
            <% end %>
            <td>
            <% if user_signed_in? && current_user.id == @game.user_id %>
              <div class="game_update">
                <%= link_to '編集', edit_game_path(@game.id), class: "update1" %>
                <%= link_to '削除', "/games/#{@game.id}", class: "update2", method: :delete %>
              </div>
            <% end %>
            </td>
          </tr>
        </tbody>
      </table>  
    </div>
    <div class="pointer_all">
      <div class="pointer_name">得点者</div>

      <div class="pointer">
        <% @players.each do |player| %>
          <% player.game_players.each do |game_player| %>
            <div class="game_scorer"> 
              <% if game_player.game_id == @game.id %>
              <%= player.name %>：
              <%= game_player.score %>点
              <% end %>
            </div>  
          <% end %>
        <% end %>
      </div>
    </div>
  </div>  
</div>    