<!DOCTYPE html>
<html>
  <head>
    <title>Basuke</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css"/>
    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    
  </head>

  <body>
    <header class="header">
      <% if user_signed_in?  %>
      <div class="el_humburger"><!--ハンバーガーボタン-->
        <div class="el_humburger_wrapper">
          <span class="el_humburger_bar top"></span>
          <span class="el_humburger_bar middle"></span>
          <span class="el_humburger_bar bottom"></span>
        </div>
      </div>
          <%= link_to "#{current_user.team_name}", root_path, class:"navi_item",data: {"turbolinks"=>false} %>
      <div class="navi"><!--ナビゲーション-->
        <div class="navi_inner">
          <%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class:"navi_item" %>
          <%= link_to '試合結果', games_path, class:"navi_item" %>
          <%= link_to '試合結果登録', new_game_path, class:"navi_item" %>
          <%= link_to 'メンバー紹介', players_path, class:"navi_item" %>
          <%= link_to 'メンバー登録', new_player_path, class: "member_create", class:"navi_item" %>
        </div>
      </div>
      <% else %>
        <div class="non_login">
          <div class="header_left">
            <%= link_to 'TOP', root_path %>
          </div>
          <div class="header_right">  
            <%= link_to '新規登録', new_user_registration_path,class: 'login' %>
            <%= link_to 'ログイン', new_user_session_path %>
          </div>  
        </div>  
      <% end %>
    </header>

    <main class="contents">
      <%# <div class="content", data-turbolinks="false">
        <script src="js/slick.min.js"></script>
        <script src="js/main.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/4.3.3/jquery.min.js"></script>
      </div> %>
      
      
      <%= yield %>
    </main>

    <footer class="footer">
      <div class="footer_left">
        <p>・結成年度：2010年</p>
        <p>・チーム名：GO7SA</p>
      </div>
      <div class="footer_right">
        <p class="pagetop"><a href="#wrap">TOP</a></p>
      </div>
    </footer>
    
  </body>
</html>

