<!DOCTYPE html>
<html>
  <head>
    <title>Basuke</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css"/>
    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  
  </head>
  <body>
    
    <header class="header">
      <% if user_signed_in?  %>
        <%= link_to "#{current_user.team_name}", root_path %>
        <%= link_to 'ログアウト', destroy_user_session_path, method: :delete %>
        <%= link_to '試合結果', games_path %>
        <%= link_to 'メンバー紹介', players_path %>
      <% else %>
        <%= link_to 'TOP', root_path %>
        <%= link_to '新規登録', new_user_registration_path %>
        <%= link_to 'ログイン', new_user_session_path %>
      <% end %>
    </header>
    <main class="contents", data-turbolinks="false">
      <div class="content">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/4.3.3/jquery.min.js"></script>
        <script src="js/slick.min.js"></script>
        <script src="js/main.js"></script>
      </div>
      <%= yield %>
    </main>
    <footer class="footer">
      <div class="footer_left">
        <p>・結成年度：2010年</p>
        <p>・チーム名：GO7SA</p>
      </div>
      <div class="footer_right">
        <p>お問い合わせ</p>
      </div>
    </footer>
  </body>
</html>

